[submodule "citation-database"]
	path = citation-database
	url = https://github.com/alexb7711/citation-database.git
[submodule "milp-pap-paper-frontiers"]
	path = milp-pap-paper-frontiers
	url = https://github.com/alexb7711/milp-pap-paper-frontiers.git
        branch = fuzzy-edits
